Yesod/src/XMLParsing/xmlValidation.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT quiz (question+)>
<!ATTLIST quiz
title CDATA #REQUIRED
passpercentage CDATA #REQUIRED>

<!ELEMENT question (answer, answer, answer, answer)>
<!ATTLIST question content CDATA #REQUIRED>

<!ELEMENT answer (#PCDATA)>
<!ATTLIST answer correct CDATA #REQUIRED>